USE [master]
GO
/****** Object:  Database [ANDROID]    Script Date: 19/05/2022 5:03:26 p. m. ******/
CREATE DATABASE [ANDROID]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ANDROID', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\ANDROID.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ANDROID_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\ANDROID_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ANDROID].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ANDROID]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 19/05/2022 5:03:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IDCliente] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[APELLIDO] [varchar](30) NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Telefono] [int] NULL,
	[Email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 19/05/2022 5:03:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IDEmpleado] [int] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[APELLIDO] [varchar](30) NOT NULL,
	[Cedula] [int] NOT NULL,
	[Fecha_De_nacimiento] [date] NOT NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Telefono] [int] NULL,
	[Email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturacion]    Script Date: 19/05/2022 5:03:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturacion](
	[IDFactura] [int] NOT NULL,
	[IDCliente] [int] NOT NULL,
	[IDEmpleado] [int] NOT NULL,
	[IDServicio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 19/05/2022 5:03:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[IDServicio] [int] NOT NULL,
	[TipoServicio] [varchar](100) NOT NULL,
	[Fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoServicio]    Script Date: 19/05/2022 5:03:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoServicio](
	[IDTipoServicio] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Costo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTipoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Facturacion]  WITH CHECK ADD FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([IDCliente])
GO
ALTER TABLE [dbo].[Facturacion]  WITH CHECK ADD FOREIGN KEY([IDEmpleado])
REFERENCES [dbo].[Empleado] ([IDEmpleado])
GO
ALTER TABLE [dbo].[Facturacion]  WITH CHECK ADD FOREIGN KEY([IDServicio])
REFERENCES [dbo].[servicio] ([IDServicio])
GO
ALTER TABLE [dbo].[TipoServicio]  WITH CHECK ADD  CONSTRAINT [FK_TipoServicio_servicio] FOREIGN KEY([IDTipoServicio])
REFERENCES [dbo].[servicio] ([IDServicio])
GO
ALTER TABLE [dbo].[TipoServicio] CHECK CONSTRAINT [FK_TipoServicio_servicio]
GO
USE [master]
GO
